#color-theme-options-container {
    box-sizing: border-box;
    width: 90%;
    height: 95%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    border-radius: 15px;
    padding: 10px 0px;
    margin: 0px 10px;

    background: var(--task-menu-list-bg);
    box-shadow: 2px 2px 5px black;    
}

.color-theme-option {
    box-sizing: border-box;
    width: inherit;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 auto;

    margin: 5px 0px;
}

#light-theme {
    background: white;
}

#dark-theme {
    background: black;
}