.task-list-item-container {
    box-sizing: border-box;
    position: relative;
    width: 85%;
    min-height: 45px;
    max-height: max-content;
    
    padding: 10px;
    margin: 10px 0px;
    
    border-radius: 10px;
    border-style: inset;
    border-width: 1px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    
    background: var(--task-menu-item-bg);
    border-color: var(--task-menu-item-border);
    color: var(--task-menu-item-fg);
    box-shadow: -2px 2px 4px black;

    opacity: 0.5;
    transition: all 0.3s;
}

.task-list-item-container:hover {
    opacity: 1;
    color: var(--task-menu-item-hover-fg);
    transform: scale(1.05, 1.05);
}

.task-item-name {
    font-size: 1.05em;
    font-variant: small-caps;
}

.task-item-duration {
    font-size: 1.05em;
}

.task-item-delete-img {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 25px;
    width: 25px;

    background-image: url('/images/task-menu-options/delete.svg');

    transition: background-image 0.75s;
}

.task-item-delete-img:hover {
    filter: invert(.5) sepia(1) saturate(100);    
    background-image: url('/images/task-menu-options/delete-forever.svg');    
}