#load-file-dialog-container {
    position: absolute;
    top: -260px;
    width: 80%;
    height: 120px;

    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    background: var(--load-file-bg);
    box-shadow: 2px 2px 5px black;   
}

.load-file-close.light-theme {
    position: absolute;
    top: 0%;
    right: 0%;
    filter: invert(0);

    transition: transform 0.3s;
}

.load-file-close.dark-theme {
    position: absolute;
    top: 0%;
    right: 0%;
    filter: invert(1);

    transition: transform 0.3s;
}
    .load-file-close:hover {
        transform: scale(1.2, 1.2);
        filter: invert(.5) sepia(1) saturate(100);
    }

#load-file-title {
    margin: 0px;
    font-variant: small-caps;
    color: var(--load-file-title-fg);
}

#load-file-name {
    font-variant: normal;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;

    color: var(--load-file-name-fg);
}

#load-file-select {
    box-sizing: border-box;
    min-width: max-content;
    min-height: max-content;

    font-weight: bold;
    font-variant: small-caps;
    font-size: 0.8em;

    padding: 5px 10px;
    outline: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    
    border-color: var(--load-file-button-border);
    background: var(--load-file-button-bg);
    color: var(--load-file-button-fg);

    transition: all 0.3s;
}
    #load-file-select:hover {
        background: var(--load-file-button-hover-bg);
        color: var(--load-file-button-hover-fg);
        transform: scale(1.1, 1.1);
    }

/**only used for file api */
#load-file-input {
    display: none;
}