@keyframes task-menu-enter {
    from {
        bottom: 100%;
    }

    to {
        bottom: 0%;
    }
}

#task-menu-container {
    position: absolute;
    width: inherit;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    z-index: 5;
    overflow: hidden;
    opacity: 0.9;

    background: var(--task-menu-bg);

    animation-name: task-menu-enter;
    animation-duration: 0.65s;
}

#task-menu-options-container {
    box-sizing: border-box;
    min-width: 50px;
    max-width: 50px;
    height: inherit;
    padding-top: 15px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    border-style: none solid none none;
    border-width: 1px;

    border-color: var(--task-menubar-border);
    background: var(--task-menubar-bg);
    box-shadow: 1px 0px 3px black;
}

.task-option-img-container {
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    margin: 25px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    opacity: 0.75;
}
    .task-option-img-container.selected {
        opacity: 1;
    }

.task-menu-option-img {
    box-sizing: border-box;
    width: 30px;
    height: 30px;

    filter: invert(1);
    transition: transform 0.4s;
}
    .task-menu-option-img.selected {
        filter: invert(1) sepia(1) saturate(500) hue-rotate(120deg);    
    }