#task-menu-container {
    position: absolute;
    width: inherit;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    z-index: 5;
    overflow: hidden;

    background: var(--task-menu-bg);
    opacity: 0.9;
}

#task-menu-list {
    box-sizing: border-box;
    width: 95%;
    height: 65%;
    list-style-type: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    overflow-x: hidden;
    overflow-y: auto;

    padding: 10px 0px;
    margin: 0px;

    border-radius: 15px;
    border-style: none solid none solid;
    border-width: 2px;
    border-color: black;

    background: var(--task-menu-list-bg);
    opacity: 0.9;
}