#task-options-container {
    box-sizing: border-box;
    width: inherit;
    min-height: 45px;
    max-height: 45px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;

    position: relative;

    border-style: solid none none none;
    border-width: 2px;
    border-color: var(--task-options-border);

    background: var(--task-options-bg);
}

/*GENERAL CONTAINER CLASSES SETUP*/
/****************************************/
@keyframes button-enter-anim {
    from {
        margin-top: 50px;
        opacity: 0.2;
    }

    to {
        
    }
}

    /*CONTAINER SETUP*/
.options-container {
    box-sizing: border-box;
    min-width: 45px;
    max-width: 45px;
    min-height: 110px;
    max-height: 110px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    padding: 0px 5px;
    border-radius: 8px;
    border-style: solid none;
    border-width: 0px;
    border-color: var(--task-options-container-border);

    background: inherit;
}
    /*END CONTAINER SETUP*/


    /*BUTTON SETUP*/
.task-option-button {
    box-sizing: border-box;

    min-width: max-content;
    max-width: max-content;
    min-height: max-content;
    max-height: max-content;

    margin: 5px 0px;
    border-radius: 10px;
    outline: none;

    border-style: solid;
    border-width: 1px;
    
    background: var(--task-options-button-bg);

    border-color: var(--task-options-border);
    box-shadow: 0px 1px 3px black;
    
    transition: all 0.4s;
}
    .task-option-button:hover {
        background: var(--task-options-button-hover-bg);
        transform: scale(1.1, 1.1);
    }

.task-option-button-img {
    min-width: 25px;
    min-height: 25px;
}
    /*END BUTTON SETUP*/

/****************************************/
/*END GENERAL CONTAINER CLASSES SETUP*/



/*NEW ADD/REFRESH SETUP*/
/****************************************/
#refresh-container {
    position: absolute;
    bottom: 50%;
    right: 0%;
}
    #refresh-container:hover {
        border-width: 2px;
    }

#task-refresh {
    opacity: 0;
}
    #task-refresh-display {
        opacity: 1;
        animation-name: button-enter-anim;
        animation-duration: 0.5s;
    }

#task-quick-add-no-selection {
    position: absolute;
    bottom: 50%;
    right: 0%;

    margin: 0px 3px 5px 0px;
}

#task-quick-add {
    position: absolute;
    bottom: 0%;
    right: 0%;

    margin: 0px 3px 5px 0px;
}

/****************************************/
/*END NEW ADD/REFRESH SETUP*/



/*NEW TASK LOAD/SAVE FILE SETUP*/ 
/****************************************/
#file-container {
    position: absolute;
    bottom: 50%;
    left: 0%;
}
    #file-container:hover {
        border-width: 2px;
    }

#task-file-save-display {
    position: absolute;
    bottom: 0%;
    left: 0%;

    margin: 0px 0px 5px 3px;
}

#task-file-load {
    opacity: 0;
}
    #task-file-load-display {
        opacity: 1;
        animation-name: button-enter-anim;
        animation-duration: 0.5s;
    }
/****************************************/
/*END NEW TASK LOAD/SAVE FILE SETUP*/


