.task-list-item-container {
    box-sizing: border-box;
    width: 75%;
    height: max-content;
    
    padding: 10px;
    margin: 10px 0px;
    
    border-radius: 10px;
    border-style: inset;
    border-width: 1px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    
    
    background: var(--task-menu-item-bg);
    border-color: var(--task-menu-item-border);
    color: var(--ten);
    box-shadow: -2px 2px 4px black;

    transition: all 0.3s;
}

.task-list-item-container:hover {
    color: var(--accent);
    transform: scale(1.1, 1.1);
}

.task-item-name {
    font-size: 1.05em;
    font-variant: small-caps;
}

.task-item-duration {
    font-size: 1.05em;
}