:root {
    --main: #2C3037;
    --ten: #DDDDDD;
    --accent: #58D9FA;
    --accent-fade: rgba(88, 218, 250, 0.75);
    --sixth: #25282E;
    --seventh:#363A40;

    --text-fg: #DDFFFF;

    --scrollbar-track-bg: var(--ten);
    --scrollbar-thumb-bg: var(--sixth);
    
    --titlebar-bg: var(--sixth);

    --task-menu-bg: var(--main);
    --task-menubar-bg: inherit;
    --task-menubar-border: var(--sixth);

    --task-menu-list-bg: inherit;
    --task-menu-list-border: var(--sixth);
    --task-menu-item-bg: var(--main);
    --task-menu-item-fg: var(--text-fg);   
    --task-menu-item-border: var(--sixth);
    --task-menu-item-hover-fg: var(--accent);
    
    
    --task-view-bg: var(--main);

    --task-header-bg: inherit;
    --task-header-fg: var(--text-fg);

    --task-arc-display-bg: var(--seventh);

    --task-duration-text: var(--text-fg);

    --task-options-container-border: var(--accent);
    --task-options-container-hover-bg: var(--accent-fade);
    --task-options-bg: var(--main);
    --task-options-border: var(--seventh);
    --task-options-button-bg: var(--text-fg);
    --task-options-button-hover-bg: var(--accent);

    --add-task-bg: var(--main);
    --add-task-fg: var(--text-fg);
    --add-task-inputfield-border: var(--accent);
    --add-task-duration-separator: var(--accent);

    --add-task-success-text: var(--text-fg);
    --add-task-success-bg: var(--main);

    --add-task-fail-text: var(--text-fg);
    --add-task-fail-header-text: red;
    --add-task-fail-bg: var(--main);

    --no-selection-bg: var(--main);    
    --no-selection-add-button-bg: var(--accent);
    --no-selection-add-button-border: var(--accent);    
}