@keyframes add-task-fade {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.25, 1.25);
    }
}

@keyframes add-task-failed-exit {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.wrapper {
    width: 100vw;
    height: 100vh;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
}


#add-task-success-container {
    position: absolute;
    top: 40%;
    left: 10%;
    
    z-index: 5;
    width: 80%;
    height: 20%;
    border-radius: 10px;
    opacity: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-variant: small-caps;

    color: var(--add-task-success-text);
    background: var(--add-task-success-bg);
    box-shadow: 2px 2px 5px black;       

    animation-name: add-task-fade;
    animation-duration: 1.5s;
}

/**failed to add task setup */
#add-task-fail-container {
    position: absolute;
    top: 40%;
    left: 10%;
    
    z-index: 5;
    width: 80%;
    height: 20%;
    border-radius: 10px;
    opacity: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    color: var(--add-task-fail-text);
    background: var(--add-task-fail-bg);
    box-shadow: 2px 2px 5px black;       

    animation-name: add-task-failed-exit;
    animation-duration: 2s;
}

#add-task-fail-title {
    font-size: 1em;
}
    #add-task-error-title {
        font-variant: small-caps;
        font-size: 1.3em;
        color: var(--add-task-fail-header-text);
    }

#add-task-fail-msg {
    font-size: 0.9em;
    color: var(--add-task-fail-text);
}

/**END failed to add task setup */

::-webkit-scrollbar {
    width: 4px;
    padding: 5px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);
}